<div class="jumbotron">
  <p class="display-6">Id: <%= @user.id %><br/></p>
  <p class="display-6">Email: <%= @user.email %><br/></p>
  <p class="display-6">Created: <%= @user.created_at.strftime('%d/%m/%y') %></p>
</div>